<h3 *ngIf="authService.user | async" class="hidden-xs-down">
  <img [src]="authService.photo" class="rounded-circle" width="50px"/>
  Bienvenue {{ authService.username }}!

  <button class="btn btn-info float-right" (click)="authService.logout()"><i class="fa fa-sign-out" aria-hidden="true"></i> Déconnexion</button>
</h3>

<app-event [event]="selectedEvent" [user]="authService.user | async" [events$]="events$"></app-event>

<div *ngIf="!(authService.user | async)" class="container hidden-xs-down">
    <a class="btn btn-md btn-social btn-facebook" href="#" (click)="authService.facebook()">
      <i class="fa fa-facebook fa-fw"></i> Pour commander, se connecter avec Facebook
    </a>
  <!--input type="text" [(ngModel)]="email" placeholder="email">
  <input type="password" [(ngModel)]="password" placeholder="email">
  <button (click)="authService.signup(email, password)" [disabled]="!email || !password">
    Signup
  </button>
  <button (click)="authService.login(email, password)" [disabled]="!email || !password">
    Login
  </button>
  <button (click)="authService.anon()">Connexion anonyme</button>
  <button (click)="authService.facebook()">Facebook</button-->
</div>
